{% extends 'appel_ei/base.html' %}
{%block content%}
<h1>ONTSTAAN VAN APPEL&EI</h1>
<p>Nazomer 2013. Een 30-tal vrijwilligers, geïnspireerd door het OCMW van Schoten, ontmoeten elkaar voor het eerst. Ze dromen allen van een winkel waar mensen met een laag inkomen goedkoop boodschappen kunnen doen. Maar er is meer: de sociale kruidenier moet een plek worden waar het gezellig is, waar plaats is voor een kopje koffie, een kommetje soep, een gezellige babbel. Want armoede en vereenzaming gaan vaak samen.</p>
<p>In grote en kleinere groepjes wordt druk vergaderd en zo krijgt Appel & Ei stilaan vorm. De gemeente geeft de toestemming om de oude pastorij van Bloemendaal in de Paalstraat te gebruiken. Vrijwilligers knappen alles netjes op.</p>
<p>10 november 2014: Appel & Ei opent de deuren. De eerste kopjes koffie worden gezet, de eerste pot soep wordt gemaakt. Onze eerste klanten komen schoorvoetend binnen. Vanaf dag 1 heerst er een warme sfeer.</p>
<p>Stilletjesaan komen er steeds meer klanten én ook vrijwilligers. Want vele Schotenaren hebben een warm hart en willen zich graag inzetten in de strijd tegen armoede en vereenzaming, voor een solidairdere samenleving.</p>
<p>In 2021 hielpen wij 215 gezinnen via onze v.z.w..</p>
{%endblock content%}