{%extends 'appel_ei/base.html'%}
{%load static%}
{%block page_header%}
<div class="winkel_page">
    <div class="header">
        <h1>Babbelen maar</h1>
    </div>
  <!-- Photo Grid -->
    <div class="row"> 
        <div class="column">
            <img src="{% static 'babbeltoren/babbeltoren1.jpg' %}" style="width: 100%;">
        </div>
        <div class="column">
            <img src="{% static 'babbeltoren/babbeltoren2.jpg' %}" style="width: 100%;">
        </div>
    </div>
</div>
{%endblock page_header%}

{%block content %}

<p>Is Nederlands praten nog moeilijk? En heb je zin om te oefenen? Dan is « De Babbeltoren » de ideale plek voor jou.
<br>Elke dinsdag ontmoeten klanten en enthousiaste vrijwilligers elkaar. Je oefent samen Nederlands door te praten. Waarover? Dat bepaal je als deelnemer zelf.  Deze Babbeltoren is een uitstekende aanvulling op taallessen.</p>
<p>Onze enthousiaste vrijwilligers babbelen graag mee en zijn nu al benieuwd naar jullie verhalen. Je komt samen in de lokalen van Appel & Ei of je gaat met de hele groep op verkenning in Schoten. 
De babbelmomenten gaan door op dinsdag van 13:00 tot 15:00. Deelnemen is gratis.
</p>
<p>Ben je anderstalig en ouder dan 16? Dan ben je hartelijk welkom. Geef gerust een seintje via onze contactpagina of spreek iemand aan bij Appel & Ei tijdens je winkelmoment.</p>
<p>Veel babbelplezier!</p>

{%endblock content%}