{%extends 'appel_ei/base.html' %}
{%load static%}
{%block page_header%}
<div class="card-group">
    <div class="card" style="background-color: rgb(83, 193, 110); color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16" style="display:block; margin-left:auto; margin-right:auto;margin-top:10px;">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
      <div class="card-body">
        <h5 class="card-title">Openingsuren</h5>
        <p class="card-text">
            <ul>
                <li>Maandag <br> 10u tot 13u</li>
                <li>Woensdag <br> 13u tot 16u</li>
            </ul>
        </p>
      </div>
    </div>
    <div class="card" style="background-color: rgb(83, 193, 110); color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="display:block; margin-left:auto; margin-right:auto;margin-top:10px;">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
      <div class="card-body">
        <h5 class="card-title">Adres</h5>
        <p class="card-text"><a href="https://www.google.com/maps?q=appel+en+ei+schoten" style="color: white;">Paalstraat 287, 2900 Schoten</a></p>
      </div>
    </div>
    <div class="card" style="background-color: rgb(83, 193, 110); color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-envelope-check-fill" viewBox="0 0 16 16" style="display:block; margin-left:auto; margin-right:auto;margin-top:10px;">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
          </svg>
      <div class="card-body">
        <h5 class="card-title">Mail</h5>
        <p class="card-text">info@appelenei-schoten.be</p>
      </div>
    </div>
  </div>
{%endblock page_header%}
{%block content%}
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=appel%20en%20ei%20schoten&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
        <a href="https://www.whatismyip-address.com"></a><br>
        <style>.mapouter{position:relative;text-align:right;height:300px;width:100%;}</style>
        <a href="https://www.embedgooglemap.net">using google maps on websites</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;}</style>
    </div>
</div>
{%endblock content%}