{%extends 'appel_ei/base.html'%}

{%block content %}
<h1>‘Sterk in huiswerk’</h1>
<p>Dat is de slogan van onze huiswerkbegeleiding.
<br>Soms is het voor de rakkers van onze klanten lastig om een schoolopdracht zelfstandig tot een goed einde te brengen. Samen met klasgenootjes naar een volgend schooljaar kunnen overstappen lukt soms niet op eigen houtje. Daar willen we bij helpen.
</p>
<p>Vrijwilligers én studenten van Vita et Pax, GIB en KdG buigen zich samen met kinderen van de lagere school (van 3de tot en met 6de leerjaar) over taken, toetsen, proefwerkvoorbereidingen.
<br>Dat kan niet zonder wat extra energie: daarom beginnen we altijd met een gezamenlijk fruitmoment. Ideaal om even over de afgelopen dag of het weekend te babbelen. Daarna beginnen we aan het echte werk: agenda nakijken, bepalen waar we aan gaan werken en dan: actie!
</p>
<p>Ouders die graag huiswerkbegeleiding voor de kinderen aanvragen kunnen via onze contactpagina een seintje geven. Het is mogelijk dat je op een wachtlijst terechtkomt: het aantal kinderen dat we begeleiden hangt af van het aantal vrijwilligers. En we willen kwaliteit bieden: één kind, één helper.
<br>Wil je mee ons HWB-team versterken? Dat kan zeker! Alle hulp is welkom.
</p>
<p>De huiswerkbegeleiding gaat door in de lokalen van lagere school Sint-Cordula (Vordensteinstraat 31) , op maandag van 16:00 tot 17:30. Tijdens de vakanties wordt er volop gespeeld en dus geen huiswerk gemaakt… Er is dus geen huiswerkbegeleiding tijdens schoolvakanties.
<br>Kostprijs: 6 euro voor 5 weken begeleiding.
</p>
<p>Neem gerust contact met ons op via de contactpagina <a href="{% url 'appel_ei:contact' %}"> hier</a> of geef een seintje aan de vrijwilligers wanneer je bij ons komt winkelen.
</p>


{%endblock content%}