{%extends 'appel_ei/base.html' %}

{%block page_header%}
{%endblock page_header%}
{%block content%}
<h1 class="display-5 fw-bold">Hoe word je klant?</h1>
<p>
Inwoners van Schoten die het financieel moeilijk hebben, zijn bij ons van harte welkom.

Na doorverwijzing van een officiële dienst zoals OCMW , Kind en Gezin, schuldbemiddelaar, CAW... kan je bij ons terecht. Ook de sociale dienst van je mutualiteit kan je naar Appel en ei doorverwijzen . Onze vrijwilligers geven je een warm onthaal, en ontvangen je met open armen.
</p>

<p>Afhankelijk van je gezinssituatie (alleenstaande, gezin of gezin met kinderen) kan je bij Appel & Ei wekelijks voor een maximumbedrag komen winkelen (dat gaat van 17 euro tot 35 euro per week).</p>

<p>Op maandagochtend (10.00-13.00) en woensdagnamiddag (13:00-16:00) gaan de deuren voor je open.

In onze winkel verkopen we producten met kortingen tot 30%. Groenten en fruit worden altijd besteld, en dagvers aangekocht. Winkelen bij Appel&Ei is dus niet alleen budgetvriendelijk, maar kan ook gezond.</p>

<p>We hebben ook een fijne samenwerking met enkele Schotense bakkers: brood dat niet verkocht is maar nog kraakvers, mogen we bij hen komen ophalen.

Altoni/Kelderman zorgt voor een koelkast vol lekker aardappel/pasta producten.</p>

<p>Afrekenen doe je bij ons bij voorkeur contactloos met je bankkaart.</p>

<p>Denk je in aanmerking te komen als klant van Appel & Ei? <br>Je kan ons bereiken via het contactformulier. Heb je moeite om dit formulier in te vullen of te telefoneren, spring dan gerust binnen tijdens de openingsuren.</p>

<p>Wij helpen je graag verder.</p>
<p>   
<a class="btn btn-dark btn-Success" href="{% url 'appel_ei:contact' %}" role="button">Contacteer ons&raquo;</a>
</p>

{%endblock content%}