{%extends 'appel_ei/base.html'%}
{%load static%}

{%block content %}
<h1>Kledingverkoop(Periodiek 2X per jaar)</h1>
<p>Kinderen groeien als kool en van het ravotten verslijten kleren dikwijls erg snel. Voor mama’s en papa’s zijn af en toe nieuwe spulletjes in de kleerkast ook een must. Zo kunnen de kleerkasten worden aangevuld met kleding allerhande .

    Velen onder ons ruimen regelmatig hun kasten uit, en weten niet altijd waar we onze overbodige of niet meer passende schoenen, truien, kleedjes, broeken een 2de leven kunnen geven.
<br>Maak een combinatie van die twee, dachten we, en het idee van kledingverkoop werd geboren.</p>
<p>Tweemaal per jaar (herfst en lente) organiseren we een tweedehandskledingverkoop. Iedereen kan de week voordien kleding komen binnenbrengen. Die wordt door ons gesorteerd en netjes op tafels uitgestald en aan rekken gehangen. 
Op zaterdag is het dan zover: klanten van Appel & Ei (en later op de dag iedereen) kunnen snuisteren, kiezen en passen. Daarna is het genieten van de aankopen bij een drankje en/of een stukje taart of een pannenkoek.</p>
<p>In onze nieuwsberichten zal je concrete data en openingsuren terugvinden.</p>
{%endblock content%}