{% extends 'appel_ei/base.html' %}
{%load %}
{%load static %}


{%block page_header%}
<img src="{% static 'ontmoetingsruimte/ontmoetingsruimte2.jpg'%}" alt="image" style="width: auto; height:50vh; display: block; margin-left: auto; margin-right: auto;">
{%endblock page_header%}

{%block content%}
<h1>Onze ontmoetingsruimte</h1>
<p>In onze winkel aan de Paalstraat kan je heel wat lekkers kopen om thuis in je keuken mee aan de slag te gaan. Zo nu en dan gaan wij voor jullie aan de slag.</p>
<p>
<ul>
<li>Soms is het even wachten voor je de winkel binnen kan. In onze gezellige onthaalruimte is er zeker plaats voor een babbel tijdens een kopje koffie of thee of water. Voor de liefhebbers is er verse soep. Kinderen kunnen ondertussen in hun speciale hoekje terecht.</li>
<li>De eerste maandag van de maand is er tussen 10:00 en 11:00 gratis ontbijt voor onze klanten. We nodigen jullie graag uit om gratis aan te schuiven bij het buffet: een lekker eitje, beleg, vers brood, yoghurt en fruit. We maken er een feestelijke maaltijd van: samen eten, dat brengt ons dichter bij elkaar. 
<br>Je hoeft er niet voor in te schrijven – de tafel staat gedekt…</li>
<li>Elke maand (op een woensdag) is er ‘afternoon tea’: dus ook altijd iets lekkers om te snoepen. Gratis voor de klanten en inschrijven is niet nodig. Smullen maar…</li>
</ul>

</p>
{%endblock content%}