{%extends 'appel_ei/base.html'%}
{%load static%}

{%block content %}
<div class="card mb-3" style="max-width:100%;background-color: rgb(233, 219, 201);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'ontspanning/lezen1.jpg'%}" class="img-fluid rounded-start" alt="..." style="width:auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Voorleesuurtje</h5>
          <p class="card-text">
            Spannende verhalen… Sprookjes en de betere kinderboeken. Daar weten de vrijwilligers van de jeugdbib van Schoten alles over. Elke tweede woensdag van de maand komen ze bij ons op bezoek om te vertellen of voor te lezen. Ook samen gezellig lezen kan heel leuk zijn. Voor onze kinderen is dit een speelse kennismaking met de Nederlandse taal.
            Kijk voor het juiste uur per leeftijdsgroep naar de info op het prikbord. Klik <a href="https://schoten.bibliotheek.be/" style="color: black" rel="noopener noreferrer" target="_blank">hier</a> voor meer info over de bib van Schoten.
          </p>
          
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width:100%; background-color: rgb(233, 219, 201);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'ontspanning/cultuur1.jpg'%}" class="img-fluid rounded-start" alt="..." style=" vertical-align: middle;" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Samen uit, samen thuis…</h5>
          <p class="card-text">
            Al wie al ooit een kijkje genomen heeft in de agenda van Cultuurcentrum De Kaekelaar heeft al kunnen kennismaken met het aanbod aan theater, film, muziek en tentoonstellingen. 
            Samen met jullie maken we in het begin van het werkjaar een keuze uit dat aanbod en we proberen maandelijks in groep deel te nemen aan een activiteit. 
            We maken er een gezellig gebeuren van en genieten samen van de voorstelling en een drankje. We vragen een kleine bijdrage, zodat iedereen kan meegenieten. 
            Wie meer informatie wil over de Kaekelaar, klik <a href="https://www.ccschoten.be/" style="color: black" rel="noopener noreferrer" target="_blank">hier</a> .
            </p>
        </div>
      </div>
    </div>
</div>
      </div>
    </div>
</div>
{%endblock content%}