{%extends 'appel_ei/base.html'%}
{%load static%}

{%block content %}
<div class="card mb-3" style="max-width:100%;background-color: rgb(233, 219, 201);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'sport/zwembad2.jpg'%}" class="img-fluid rounded-start" alt="..." style="width:auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Zwemtickets Sportoase</h5>
          <p class="card-text">
            Sporten is goed voor onze gezondheid, en het is nog heel ontspannend ook. Samen met de sportdienst 
            van onze gemeente zorgen we ervoor dat elk gezin 1 keer per week kan genieten in Sportoase Brasschaat.
            Er wordt een kleine bijdrage gevraagd, hiervoor krijg je toegang tot het waterpark met al zijn attracties.
             Koop je tickets bij het winkelen. Meer info over Sportoase Brasschaat vind je <a href="https://www.sportoase.be/nl/elshout"style="color: black" rel="noopener noreferrer" target="_blank">hier</a>.
          </p>
          
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width:100%; background-color: rgb(233, 219, 201);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'sport/fietsen1.jpg'%}" class="img-fluid rounded-start" alt="..." style=" vertical-align: middle;" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kinderfietsen</h5>
          <p class="card-text">
            <p>Fietsen is leuk en ontspannend. Maar kinderen groeien snel en de fietsjes worden vlug te klein. 
                In Schoten is er ‘Op wielekes’: een bibliotheek maar dan voor kinderfietsen.
                Wie lid is, heeft altijd toegang tot een goede en kwalitatieve kinderfiets (voor kinderen van 2 tot 12 jaar) op maat. Je ruilt de fiets in voor een groter exemplaar indien nodig. 
                </p>
                <p>Onze klanten kunnen voor 15 euro eenmalige waarborg en jaarlijks 15 euro lidmaatschap (korting van 50%) hun kinderen van een gepaste fiets voorzien. Als je een eigen fietsje inbrengt, krijg je bovendien een jaar lidmaatschap cadeau.</p>
                <p>Je vindt Op Wielekes in Gemeentepark Schoten, Kasteeldreef 42, 2900 Schoten.
                <br>Het depot bevindt zich naast het voetballokaal van KFC Schoten.
                <br>Op Wielekes is open elke eerste en derde woensdag en elke derde zaterdag van de maand, telkens van 13:00 tot 16:00.
                <br>Voor meer informatie klik <a href="https://www.opwielekes.be/" style="color: black" rel="noopener noreferrer" target="_blank">hier</a>.</p>
          </p>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width:100%; background-color: rgb(233, 219, 201);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'sport/vrijetijd1.jpg'%}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">UITPAS</h5>
          <p class="card-text">
            <p>Gezinnen die bij ons ingeschreven zijn, hebben recht op een UITPAS aan kansentarief (eenmalig €1 in 2022).

              Met deze pas krijg je zeer grote kortingen bij heel veel activiteiten, optredens , lidgelden sportclubs, vakantie activiteiten voor kinderen enz…
              
              Voor elk gezinslid is een pas nodig, en deze blijft geldig, zolang je klant bent bij Appel&Ei.
              
              Onze vrijwilligers geven je graag de nodige uitleg.
                </p>
          </p>
        </div>
      </div>
    </div>
</div>


{%endblock content%}