{%extends 'appel_ei/base.html' %}

{%block content%}
    <h1>Welkom enthousiaste vrijwilliger!</h1>
    <p>Altijd al gedroomd om eens aan een kassa van een winkel kunnen zitten? Met 5 karren tegelijk gaan shoppen bij Colruyt? Nieuwsgierig naar wat de kinderen op de lagere school nu precies leren?
    <br>Grijp dan je kans om dat allemaal te beleven of te weten te komen… Want vrijwilligerswerk bij Appel & Ei is zeer divers.</p>
    <p>In onze winkel en ontmoetingsruimte maak je kennis met onze kernactiviteit: klanten ontvangen, met hen een gesprekje voeren, hen op hun gemak stellen, helpen bij het winkelen en afrekenen. De winkel bevoorraden doen we via Colruyt en ook bij een aantal bakkers waar we brood van de vorige dag (maar nog heel erg vers) kunnen ophalen.</p>
    <p>Af en toe zin in een jolige bende om je heen? Bij de huiswerkbegeleiding helpen we kinderen van onze klanten bij “taken maken” en “toetsen voorbereiden”.</p>
    <p>Ook als je wil werken achter de schermen ben je bij ons meer dan welkom.  Achter Appel & Ei schuilt een hele administratie. Er valt erg veel te plannen, coachen, organiseren en op te volgen.</p>
    <p>Onze klantengroep groeit alsmaar aan, we zijn continu op zoek naar enthousiaste vrijwilligers met het hart op de juiste plaats en voeling met Schotenaren, die het minder goed hebben. Veel helpende handen zijn nodig om alles te organiseren Al onze vrijwilligers voeren hun engagement met respect voor anderen uit.</p>
    <p>Wanneer je uitkeringsgerechtigd bent of een vervangingsinkomen hebt, gelden er speciale regels. Informeer goed bij je instanties over de toelatingsvoorwaarden. Als vrijwilliger sta je zelf in voor de opvolging hiervan. Appel & Ei zorgt voor een verzekering en wij helpen je graag met de nodige documenten.  Wij hebben geen politieke of religieuze kleur.</p>
    <p>Zin om er meteen in te vliegen? Super! Neem contact met ons  of spring eens binnen tijdens de <a href="{% url 'appel_ei:winkel' %}">openingsuren</a> van onze winkel.</p>

    <a class="btn btn-dark btn-Success" href="{% url 'appel_ei:contact' %}" role="button">Contacteer ons&raquo;</a>
    
{%endblock content%}