{%extends 'appel_ei/base.html'%}

{%block content %}
<h1>Sponsor ons</h1>
<p>Onze winkel in de Paalstraat is een unicum in vele opzichten: in onze onthaalruimte of op ons tuinterras kunnen klanten gezellig babbelen, en samen koffie of thee drinken, of soep eten , terwijl ze hun beurt afwachten om te winkelen . Ons team vrijwilligers zorgt voor een gezellige sfeer en de bediening, en zijn altijd aanspreekbaar. </p>
<p>Wat ons echt uniek maakt is het feit dat we nooit winst maken, altijd met verlies verkopen én toch blijven bestaan.</p>
<p>Hoe we dat realiseren? De gemeente Schoten steunt ons elk jaar met een flink bedrag. Daarnaast helpt ook de Koning Boudewijnstichting. Verschillende Schotense scholen organiseerden al heel wat acties, er waren benefietoptredens en allerlei sympathisanten deden een duit in ons zakje. De Warmste Week bracht de afgelopen jaren heel wat euro’s in het laatje.
    <br>Op deze manier kunnen we enthousiast blijven verder werken , de vaste kosten (huur, verzekeringen, computer en software,…) betalen, én onze klanten ook af en toe extra verwennen</p>
<p>Appel & Ei draait volledig op vrijwilligers. Maar dat betekent allerminst dat we niet professioneel werken. Onze boekhouding is transparant, we hebben kassaprocedures die de vrijwilligers strikt volgen. Via een scanningsysteem zijn de kassa, boekhouding en voorraadbeheer met elkaar verbonden.</p>
<p>Onze klantenlijst blijft alsmaar groeien, dus is alle financiële hulp er nodig, elke gift is meer dan welkom. Wil je ons financieel ondersteunen? Super! We zijn dankbaar voor elk klein of groot bedrag.
<br>Meer info nodig? Neem gerust contact op via onze contactpagina</p>
<p>Onze gegevens:
<br>Klik Schoten vzw
<br>Paalstraat 287
<br>2900 Schoten
<br>rekeningnummer: BE17 7350 3753 2621</p>

{%endblock content%}